<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Servlets.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addArticle</servlet-name>
        <servlet-class>Servlets.addArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attd</servlet-name>
        <servlet-class>Servlets.attd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getArticle</servlet-name>
        <servlet-class>Servlets.getArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>psp</servlet-name>
        <servlet-class>Servlets.psp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Servlets.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addArticle</servlet-name>
        <url-pattern>/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attd</servlet-name>
        <url-pattern>/attd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getArticle</servlet-name>
        <url-pattern>/getArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>psp</servlet-name>
        <url-pattern>/psp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
